.imageContainer {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.flechita {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(176, 176, 176);
}
